#myCarousel {
  display: flex;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
}

.carousel-inner {
  display: flex;
  width: fit-content; /* Adjust the width as per your requirements */
}

.item {
  flex: 0 0 auto;
  margin-right: 10px;
  width: 300px; /* Adjust the width as per your requirements */
}

.carousel-inner .item:last-child {
  margin-right: 0;
}

.img-video-div {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

img,
video {
  max-width: 100%;
  height: auto;
}
