<div class="container">
    <div class="container_wrap">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Post Create</mat-card-title>
            </mat-card-header>
            <div class="text-box" *ngIf="!isAIAssistOpen">
                <textarea class="textbox" #myInput [(ngModel)]="bioText" [maxlength]="remainingWords"></textarea>
                <div class="button-container">
                    <div class="dropdown">
                        <button class="button" (click)="toggleHashtagDropdown()">#Hashtags</button>
                        <div class="dropdown-content" *ngIf="isHashtagDropdownOpen">
                            <input type="text" [(ngModel)]="searchTerm" (input)="filterHashtags()"
                                placeholder="Search Hashtags" />
                            <button (click)="hastageText([newTextList[0]],searchTerm)">Search AI</button>
                            <div *ngFor="let hashtag of newTextList">
                                <span (click)="addHashtagToBio(hashtag.response)"> {{ hastageCardText.response }} - {{
                                    truncateText(hashtag.response, 4) }} </span>
                            </div>
                        </div>
                    </div>
                    <button class="button" (click)="toggleAIAssist()"> AI Assist </button>
                    <div class="character-count"> {{myInput.value.length}} /{{remainingWords}} words remaining</div>
                </div>
            </div>
            <ng-container>
                <div>
                    <div class="post-create">
                        <div class="item" [ngClass]="{'active': i == 0}" *ngFor="let list of mydata;let i = index">
                            <div class="img-video-div">
                                <img mat-card-image *ngIf="list.type == 'img'" [src]="list.url" />
                                <video *ngIf="list.type == 'video'" [src]="list.url" controls></video>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="col-md-12" *ngIf="isAIAssistOpen">
                            <div class="card-body">
                                <div class="close-button">
                                    <span class='material-icons' (click)="toggleAIAssist()">close</span>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <div class="frame-box">
                                                <div class="card-text padding">
                                                    <p *ngIf="writeText"> You: {{ writeText.text }} </p>
                                                    <p *ngIf="cardText"> AL: {{ cardText.response }} <button
                                                            class="copy-button"
                                                            (click)="copyResponse(cardText.response)"
                                                            [disabled]="isCopied"> {{ isCopied ? 'Copied' : 'Copy' }}
                                                            <svg stroke="currentColor" fill="none" stroke-width="2"
                                                                viewBox="0 0 24 24" stroke-linecap="round"
                                                                stroke-linejoin="round" class="h-4 w-4" height="1em"
                                                                width="1em" xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2">
                                                                </path>
                                                                <rect x="8" y="2" width="8" height="4" rx="1" ry="1">
                                                                </rect>
                                                            </svg>
                                                        </button>
                                                    </p>
                                                    <br>
                                                </div>
                                                <div><img src="../../assets/ZNeT.gif" *ngIf="showSpinner" width="50px"
                                                        height="50px">
                                                </div>
                                            </div>
                                            <br>
                                            <textarea tabindex="0" data-id="request-:R1dd6:-19" rows="1"
                                                placeholder="Write a app-content." class="textWriteArea"
                                                [(ngModel)]="textList[0].text"
                                                (keyup.enter)="generateText([textList[0]], $event)"></textarea>
                                            <button type="button" class="generate-response"
                                                (click)="generateText([textList[0]],  $event)"
                                                [disabled]="isButtonDisabled">
                                                <svg stroke="currentColor" fill="none" stroke-width="2"
                                                    viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                                                    class="h-4 w-4 mr-1" height="1em" width="1em"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <line x1="22" y1="2" x2="11" y2="13"></line>
                                                    <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="button-containe" *ngIf="isPostAdded">
                                <button class="button" (click)="addPost(cardText.response)">Add Post</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="select-file">
                <label for="fileInput" class="isBold colorGray" id="dragDropLabel">Click or Drag &amp; Drop
                    media</label>
                <input type="file" id="fileInput" accept="image/*,video/*" (change)="onSelectFile($event)" multiple />
                <div id="imagePreviewContainer"></div>
            </div>
            <mat-card-actions *ngIf="mydata">
                <button mat-button color="primary" (click)="post()">Publish</button>
                <button (click)="onPublishClick()">Login with Facebook</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>