.example-card {
  max-width: 1000px;
  width: 100%;
  margin: 60px auto 0;
  .post-create {
    display: flex;
    justify-content: space-between;
  }
  .img-video-div {
    margin-right: 10px;
    img,
    video {
      max-width: 400px;
      width: 100%;
      height: 350px;
      object-fit: cover;
      flex-wrap: wrap;
    }
  }
  label#dragDropLabel {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    top: 10px;
  }
  .select-file {
    background-color: hsla(0, 0%, 88%, 1);
    color: hsl(236deg 10.43% 48.49%);
    height: 42px;
    border-radius: 43px;
    margin-top: 12px;
  }
  textarea.textbox.ng-untouched.ng-pristine.ng-valid {
    width: 96%;
  }
  .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .textbox {
    width: 300px;
    height: 200px;
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  .button-container {
    display: flex;
    gap: 10px;
  }

  .button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #45a049;
  }

  .character-count {
    margin-top: 5px;
    font-size: 14px;
    color: #999;
  }
  span.material-icons {
    float: revert;
    float: right;
    margin-bottom: 16px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px;
  }

  .dropdown-content input {
    width: 100%;
    margin-bottom: 8px;
  }

  .dropdown-content div {
    cursor: pointer;
    padding: 6px 0;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  span.material-icons {
    font-size: 19px;
    height: 0px;
    position: relative;
    right: -5px;
  }
}
input#fileInput {
  display: none;
}
.push-right {
  margin-left: 90%;
}

.person {
  font-style: italic;
  font-weight: bold;
  color: purple;
}

.bot {
  font-weight: bold;
  color: darkgreen;
}

.frame-box {
  border: dotted 2px orange;
  max-height: auto;
  width: 100%;
  display: block;
  position: relative;
  overflow-y: scroll;
  margin-top: 12px;

  @media (min-width: 425px) and (max-width: 844px) {
    left: 48px;
    position: relative;
  }
}

.padding {
  padding: 5px;
}

.custom-button {
  position: absolute;
  padding: 1px;
  border-radius: 0.375rem;
  color: #718096;
  bottom: -1.5rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #f7fafc;
  color: #cbd5e0;
}

.custom-button:disabled {
  opacity: 0.4;
}

.custom-button svg {
  stroke: currentColor;
  fill: none;
  stroke-width: 2;
  height: 1em;
  width: 1em;
  margin-right: 0.25rem;
}
.textWriteArea {
  height: 41px;
  width: 99% !important;
  nav-index: 0;
  position: relative;
  grid-row: 1;
  padding: 0.25rem;
  max-height: 200px;
  overflow-y: hidden;
  font-size: 16px;
  color: #333;
  border-radius: 8px;
  @media (min-width: 425px) and (max-width: 1024px) {
    left: 48px;
    position: relative;
  }
}
.generate-response {
  position: relative;
  justify-content: normal;
  float: right;
  border: 0;
  outline: none;
  bottom: 35px;
  background: transparent;
  @media (min-width: 425px) and (max-width: 1024px) {
    left: 48px;
    position: relative;
  }
}
button.copy-button {
  border: 0;
  background: transparent;
  padding-top: 3px;
  color: #fff;
}

.share-btn > a {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 12px;
  font-family: Verdana, Arial;
}
.share-btn > a:hover {
  cursor: pointer;
}
