<div>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/media" routerLinkActive="active">Media</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/new-media" routerLinkActive="active">New-Media</a>
            </li>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>